# Piwigo specific directories
/_data
/plugins/*
!/plugins/index.php
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php
language
#!/language/index.php
#!/language/de_DE
#!/language/en_UK

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project

# vscode
.vscode