# Piwigo specific directories
/_data
/plugins/*
!/plugins/index.php
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php
/language/*
!/language/index.php
!/language/de_DE
!/language/en_UK
osmmap.php

/piwigo-logos

/themes/bootstrap_darkroom/language/
!/themes/bootstrap_darkroom/language/de_DE
!/themes/bootstrap_darkroom/language/en_UK
/themes/modus/language/
!/themes/modus/language/de_DE
!/themes/modus/language/en_UK



# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project

# vscode
.vscode