# Piwigo specific directories
/_data
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php
/language/*
!/language/index.php
!/language/de_DE
!/language/en_UK
osmmap.php

/piwigo-logos

/plugins/*
!/plugins/index.php
!/plugins/daw_hidden
!/plugins/PersonalPlugin
!/plugins/manage_properties_photos
!/plugins/Comments_on_Albums
!/plugins/AdminTools
!/plugins/tag_groups
!/plugins/ExtendedDescription
!/plugins/FCKEditor

/themes/bootstrap_darkroom/language/
!/themes/bootstrap_darkroom/language/de_DE
!/themes/bootstrap_darkroom/language/en_UK
/themes/modus/language/
!/themes/modus/language/de_DE
!/themes/modus/language/en_UK
/themes/elegant
/themes/smartpocket

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project
.buildpath

# vscode
.vscode